//Line-height
//Line-height
$lh-xxl:75px;
$lh-xl:41px;
$lh-l:35px;
$lh-m:32px;
$lh-s:28px;
$lh-xs:21px;
$lh-xxs: 16px;
$lh-xxxs: 14px;

//Font-size:
$fs-xxl:64px;
$fs-xm:48px;
$fs-xl:36px;
$fs-l:30px;
$fs-m:24px;
$fs-s:18px;
$fs-xs:14px;
$fs-xxs:12px;

//Colors
$white: #FFFFFF;
$headerBorder: #BABBC5;
$grey: #808080;
$red: #FF4343;
$redHover: #E71414;
$background: #252B49;
$backgroundFooter: #353C65;
$backgroundFooterTwo: #2C3154;
$backgroundSlide: #5C3249;